@use 'sass:math';
@use 'vars' as *;

.dart_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.dart_header {
  flex: 0 0 auto;
  position: relative;
  z-index: 2;
}

.dart_main {
  flex: 1 0 auto;
  position: relative;
  z-index: 1;
}

.dart_footer {
  flex: 0 0 auto;
}

/* ----------- BUTTONS ------------ */
.dart-btn{
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 40px;  
  border-radius: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.3;
  cursor: pointer;
  &.dart-btn-primary{
    padding: 24px 48px;
    background: #00B9F3;
    border-radius: 24px;
    background: var(--primary-color);
    color: #FFFFFF;
    border: 1px solid #00B9F3;
    transition: all .2s ease;
    &:hover{
      background: #fff;
      border: 1px solid #fff;
      color: var(--primary-color);
      transition: all .2s ease;
    }
  }
  &.dart-btn-secondary{
    color: var(--primary-color);
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    transition: all .2s ease;
    &:hover{
      background: var(--primary-color);
      border: 1px solid var(--primary-color);
      color: #fff;
      transition: all .2s ease;
    }
  }
  &.dart-btn-simple{
    color: #FFFFFF;
    border: 1.5px solid var(--primary-color);
    transition: all .2s ease;
    &:hover{
      background: var(--primary-color);
      color: #fff;
      transition: all .2s ease;
    }
  }
  &.dart-btn-simple-alt{
    color: #FFFFFF;
    border: 1px solid #fff;
    transition: all .2s ease;
    &:hover{
      background: #fff;
      color: var(--primary-bg);
      border: 1px solid #fff;
      transition: all .2s ease;
    }
  }
  &.dart-btn-dark{
    background: var(--primary-bg);
    color: #fff;
    border: 1px solid var(--primary-bg);
    transition: all .2s ease;
    svg, svg *{
      fill: #fff;
    }
    &:hover{
      color: var(--primary-bg);
      background: #fff;
      border: 1px solid #fff;
      transition: all .2s ease;
      svg, svg *{
        fill: var(--primary-bg);
      }
    }
  }
  &.dart-btn-light{
    color: var(--primary-bg);
    background: #fff;
    border: 1px solid #fff;
    transition: all .2s ease;
    svg, svg *{
      fill: var(--primary-bg);
    }
    &:hover{
      background: var(--primary-bg);
      color: #fff;
      border: 1px solid var(--primary-bg);
      transition: all .2s ease;
      svg, svg *{
        fill: #fff;
      }
    }
  }
  &.dart-btn-small{
    padding: 8px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3;
  }
  &.dart-btn-rounded{
    border-radius: 72px;
  }
  &.dart-btn-usally{
    display: inline-flex;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 40px;
    border-radius: 24px;
  }
  @media (max-width: $desktop){
    font-size: 22px;
    padding: 20px 30px;  
  }
}

.section-default{
  padding: 70px 0;  
  overflow-x: hidden;
  &.section-default-without-top-padding{
    padding-top: 0;
  }
  &.section-default__header-small{
    .section-default__header{
      h2{
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 1.3;
        color: #121315;
      }
    }
  }
  &__header{
    margin-bottom: 48px;
    h2{
      max-width: 1000px;
      font-style: normal;
      font-weight: 500;
      font-size: 76px;
      line-height: 1.3;
      letter-spacing: -0.02em;
      color: #121315;
    }
    .section-default__desc{
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 1.3;
      color: #9D9FA0;
      margin-top: 40px;
      a{
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 1.3;
        text-decoration-line: underline;
        color: #00B9F3;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  &.section-default-blue-header{
    .section-default__header{
      h2{
        color: #00B9F3;
      }
    }
  }
  @media (max-width: $desktop){
    padding: 60px 0;
    &__header{
      margin-bottom: 32px;
      h2{
        font-size: 56px;
      }
      .section-default__desc{
        font-size: 20px;
        margin-top: 32px;
        a{
          font-size: 20px;
        }
      }      
    }
  }
  @media (max-width: $tablets){
    padding: 40px 0;
    &__header{
      margin-bottom: 24px;
      h2{
        font-size: 32px;
      }
    }
  }
}

.dart-input{
  & + .dart-input{
    margin-top: 24px;
  }
  &.dart-input-big{
    input{
      border: none;
      border-bottom: 1.5px solid var(--primary-bg);
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 1.3;
      color: #9BA2AA;
      padding: 24px 0;
      width: 100%;
      outline: none;
    }
    textarea{
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 1.3;
      color: #9BA2AA;
      padding: 24px 24px;
      width: 100%;
      outline: none;
      min-height: 200px;
      border: 1.5px solid #121315;
      border-radius: 20px;
    }
  }
  @media (max-width: $desktop){
    &.dart-input-big{
      input{
        font-size: 20px;
        padding: 16px 0;
      }
      textarea{
        font-size: 20px;
        padding: 16px 16px;
      }
    }
  }
}

.dart-btn-container{
  .dart-btn + *{
    margin-top: 32px;
  }
  span.desc{
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.3;
    color: #B2B7BD;
  }
  @media (max-width: $desktop){
    span.desc{
      font-size: 18px;
    }
  }
}

.badges{
  .badges__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 40px;
    gap: 12px;
    background: #B2B7BD;
    border-radius: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.3;
    color: #FFFFFF;
    &.badges__item-blue{
      background: #00B9F3;
    }
    &.badges__item-blue-dark{
      background: #002B72;
    }
    &.badges__item-violet{
      background: #C22184;
    }
    &.badges__item-green{
      background: #30D672;
    }
  }
}

.breadcrumbs{
  margin: 26px 0;
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
      display: inline-block;
      & + li{
        margin-left: 12px;
      }
      a{
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.3;
        color: #66717C;
      }
      span{
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.3;
        color: #B2B7BD;
      }
    }
  }
}

h1, .h1{
  font-style: normal;
  font-weight: 500;
  font-size: 88px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #121315;
  @media (max-width: $desktop){
    font-size: 64px;
  }
  @media (max-width: $tablets){
    font-size: 36px;
  }
}

p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #121315;
}

.more {
  width: 100%;
  text-align: center;
  .btn-more {
    font-style: normal;
    font-weight: 500;
    display: inline-block;
    padding: 9px 25px;
    font-size: 18px;
    text-align: center;
    width: 100% !important;
    max-width: 288px !important;
    color: var(--primary-bg);
    letter-spacing: -0.01em;
    background: #ECECEC;
    border: 1px solid #ECECEC;
    border-radius: 32px;
    cursor: pointer;
  }
  .btn-more.active, .btn-more:hover {
    color: var(--primary-bg);
    background: transparent;
    border: 1px solid var(--primary-bg);
    text-decoration: none;
  }
}

.text-blue{
  color: var(--primary-color)
}

.table-responsive{
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  table{
    width: 100%;
    min-width: max-content;
  }
  @media (max-width: $tablets){
    width: calc(100% + 16px);
    margin-right: math.div($main-padding-md, -2);
  }
}